@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

* {
	padding: 0;
	margin: 0;
}

body {
    background-color:#000B05;
    color: azure;
    height: 100vh;
    box-sizing: border-box;
}
.self-introduction{
    display: flex;
    align-items: center;
    margin: 12%;
    justify-content: space-between;
}

.self-introduction__content{
    width: 900px;

}

.self-introduction__content__title{
    font-size: 36px;
    font-family: "Press Start 2P", system-ui;
}

.self-introduction__content__text{
    font-size: 24px;
    font-family: "Doto", sans-serif;
    padding: 24px;

    
}


a {
    color: azure;
}

footer{
    color: azure;
}

.highlight-text{
    color:#00C344;
}
